.globalContainer{
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 600px;
    background-color: brown;
    border-radius: 15px;
    box-shadow: 0px 0px 35px 10px #222;
    font-family: sans-serif;
}
.globalContainer h1{
    margin-bottom: 40px;
    color: #FFF7D4;
}

.tabuleiro{
    justify-content: center;
    align-items: center;
    height: 210px;
    width: 210px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: solid 1px black;

}

.tabuleiro button{
    height: 70px;
    width: auto;
    border: solid 1px black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.tabuleiro button:hover{
    cursor: pointer;
}
.notClicked{
    background-color: #aaa;
    transition: all 200ms ease-in-out;
}
.notClicked:hover{
    background-color: #888;
}

.clicked{
    width: auto;
    height: 70px;
    color: red;
    font-size: 40px;
    background-color: #fff;
}
.winColor{
    position: relative;
    background-color: #FFD95A;
    color: red;
    font-size: 40px;
}

.turn{
    margin-top: 20px;
    color: #fff;
}


.restart{
    margin-top: 20px;
    height: 30px;
    width: 150px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    transition: all 200ms ease-in-out;
    background-color: #4C3D3D;
    color: #C07F00;
}
.restart:hover{
    cursor: pointer;
    background-color: #ddd;
    box-shadow: 0px 0px 5px 1px #FFD95A;
}
.draw,
.congratulations{
    margin-top: 20px;
    font-size: 30px;
}

.description{
    padding-top: 30px;
    color: #4C3D3D;
}

.description a{
    color: #4C3D3D;
    transition: all 200ms ease-in-out;
}
.description a:hover{
    color: #fff;
}

.winColor div{
    z-index: 1;
    position: absolute;
    right: -200px;
    height: 3px;
    width: 350px;
    background-color: #222;
}

.winColor span{
    z-index: 1;
    position: absolute;
    top: -20px;
    height: 250px;
    width: 3px;
    background-color: #222;
}
.winColor h1{
    z-index: 1;
    top: 100px;
    right: -210px;
    position: absolute;
    height: 3px;
    width: 350px;
    background-color: #222;
    rotate: 45deg;
}

.winColor h2{
    z-index: 1;
    position: absolute;
    top: -20px;
    height: 250px;
    width: 3px;
    background-color: #222;
}

.winColor h3{
    z-index: 1;
    position: absolute;
    top: -20px;
    height: 250px;
    width: 3px;
    background-color: #222;
}

.winColor h4{
    z-index: 1;
    position: absolute;
    right: -200px;
    height: 3px;
    width: 350px;
    background-color: #222;
}

.winColor h5{
    z-index: 1;
    top: 33px;
    position: absolute;
    height: 3px;
    width: 350px;
    background-color: #222;
    rotate: -45deg;
}

.winColor h6{
    z-index: 1;
    position: absolute;
    right: -200px;
    height: 3px;
    width: 350px;
    background-color: #222;
}


